<% if @user.dj %>
<h1>Salut mon DJ</h1>
  <div class="cards">
    <% @offers.each do |offer|  %>

      <% offer.bookings.each do |booking| %>

        <div class="card">
          <h2 class="small"><span>Welcome on <%= booking.offer.title %></span></h2>

          <div class="description">
            <h5 class="card-title">Start date : <%= booking.start_date %></h5>
            <h5 class="card-title">Duration : <%= booking.duration %> Heures</h5>
            <p class="card-text">Place : <%= booking.place %></p>
            <% price = booking.offer.price_per_day %>
            <p class="card-text">Price per day : <%= offer.price_per_day * booking.duration %>€/J</p>

            <%= link_to "Go to the offer", offer_path(booking.offer), class: "button" %>
          </div>
        </div>

    <% end %>
  <% end %>
  <div id="map"
     style="width: 100%; height: 300px;"
     data-markers="<%= @markers.to_json %>">
</div>
  </div>

  <% else %>
  <h1>Salut le gueux</h1>
  <div class="cards">
  <% current_user.bookings.each do |booking| %>

      <div class="card">

        <h2 class="small"><span>Welcome on <%= booking.offer.title %></span></h2>


        <div class="description">
          <h5 class="card-title">Start date : <%= booking.start_date %></h5>
          <h5 class="card-title">Duration : <%= booking.duration%> Heures</h5>
          <p class="card-text">Place : <%= booking.place %></p>
          <% price = booking.offer.price_per_day %>
          <p class="card-text">Price per day : <%= price %>€/J</p>
          <p class="card-text">Price per day : <%= booking.offer.price_per_day * booking.duration %>€/J</p>
          <%= link_to "Go to the offer", offer_path(booking.offer), class: "button" %>

          <%= link_to "Cancel my party", booking_path(booking), class: "button",

          method: :delete,
          data: { confirm: "Are you sure?"} %>
        </div>
      </div>

  <% end %>
  </div>

<% end %>

