<% if @user.dj %>

<div class="container" style="padding-top: 20%;">
<h2 class="home"><span>Salut mon DJ</span></h2>
<h2 id="scroll">SCROLL DOWN TO SEE ALL YOUR BOOKINGS</h2>
</div>
  <div class="cards">
    <% @offers.each do |offer|  %>

      <% offer.bookings.each do |booking| %>

        <div class="card">
          <h2 class="small"><span>WELCOME <%= booking.offer.title %></span></h2>

          <div class="description">
            <h5 class="card-title">Start date : <%= booking.start_date %></h5>
            <h5 class="card-title">Duration : <%= booking.duration %> Heures</h5>
            <p class="card-text">Place : <%= booking.place %></p>
            <% price = booking.offer.price_per_day %>
            <p class="card-text">Price per day : <%= booking.duration * price  %>€/J</p>

            <%= link_to "Go to the offer", offer_path(booking.offer), class: "button" %>
          </div>
        </div>

    <% end %>
  <% end %>

  </div>
  <div id="map"
     style="width: 100%; height: 500px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

  <% else %>
  <div class="container" style="padding-top: 20%;">
<h2 class="home"><span>Salut le gueux</span></h2>
<h2 id="scroll">SCROLL DOWN TO SEE ALL YOUR BOOKINGS</h2>
</div>
  <div class="cards">
  <% current_user.bookings.each do |booking| %>

      <div class="card">

        <h2 class="small"><span>Welcome on <%= booking.offer.title %></span></h2>


        <div class="description">
          <h5 class="card-title">Start date : <%= booking.start_date %></h5>
          <h5 class="card-title">Duration : <%= booking.duration%> Heures</h5>
          <p class="card-text">Place : <%= booking.place %></p>
          <% price = booking.offer.price_per_day %>
          <p class="card-text">Price per day : <%= price %>€/J</p>
          <p class="card-text">Price per day : <%= price * booking.duration %> €</p>
          <%= link_to "Go to the offer", offer_path(booking.offer), class: "button" %>
          <br>
          <%= link_to "Cancel my party", booking_path(booking), class: "button",

          method: :delete,
          data: { confirm: "Are you sure?"} %>
        </div>
      </div>

  <% end %>
  </div>

<% end %>

