

<h2 class="home"> <span>ALL THE DJ </span></h2>

<div class="container">
<p >Number of offers : <%= @offers.count %></p>
<% @offers.each do |offer| %>

<div class="card-product mb-4">
  <% if offer.photo.attached? %>
  <div class="card-img-top"><%= cl_image_tag offer.photo.key %></div>
  <% end %>
  <div class="card-product-infos">
    <h2><%= link_to offer.title, offer_path(offer) %></h2>
    <p><%= offer.price_per_day %> $</p>
    <p><%= offer.description %></p>
  </div>
</div>

<% end %>

<% if policy(Offer).create? %>
  <%= link_to "Propose tes services", new_offer_path, class: "button" %>
<% end %>
</div>
