<div class="container">
  <div class="js1">
  <h2 class="home" style="padding-bottom: 50px;"><span>Welcome on <%=  @offer.title %></span></h2>
</div>
<div class="card mb-3">
  <% if @offer.photo.attached? %>
<div class="card-img-top"><%= cl_image_tag @offer.photo.key %></div>
<% end %>
  <div class="card-body">
    <h5 class="card-title"><%= @offer.description %></h5>
    <p class="card-text"><%= @offer.price_per_day %>€/J</p>
    <% if policy(@offer).update? %>
    <p class="button"><%= link_to "Change ton offre", edit_offer_path(@offer) %></p>
    <% end %>
<p class="button"><%= link_to "Voir tous les DJ", offers_path %></p>

<% if policy(Booking).create? %>
<p class="button"><%= link_to "Réserve ce DJ", new_offer_booking_path(@offer) %></p>
<% end %>
  </div>
</div>

</div>

