<h1>Welcome on <%=  @offer.title %></h1>

<%= @offer.description %>
<br>
<p> <%= @offer.price_per_day %>€/J</p>

<p><%= link_to "Change ton offre", edit_offer_path(@offer) %></p>

<p><%= link_to "Voir tous les DJ", offers_path %></p>

<p><%= link_to "Supprimer mon offre",
  offer_path(@offer),
  method: :delete,
  data: { confirm: "Are you sure ?"}
  %></p>

  <p><%= link_to "Réserver DJ", new_offer_booking_path(@offer) %></p>

  <p><%= link_to "Supprimer ma résa",
  offers_path,
  method: :delete,
  data: { confirm: "Are you sure ?"}
  %></p>

  <p><%= link_to "Retour", offers_path %></p>

