<!DOCTYPE html>
<html>
  <head>
    <title>AirDbNProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

    <%= render 'shared/navbar' %>
    <div class="content">
    <div class="blob">

  <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
  <path fill="#CA1638" d="M50.1,-39C63.7,-22.9,72.7,-2.1,68.6,15.6C64.5,33.3,47.3,47.9,29.6,53.4C11.9,58.8,-6.4,55,-25.8,47.8C-45.3,40.7,-65.9,30.2,-68.5,16.4C-71.1,2.5,-55.6,-14.8,-41.2,-31.1C-26.8,-47.5,-13.4,-62.9,2.4,-64.8C18.2,-66.7,36.5,-55.2,50.1,-39Z" transform="translate(100 100)" />
</svg>
</div>

    <%= yield %>

    </div>



  <div class="footer">
  <div class="footer-links">
    <a href="/offers"><i class="fas fa-home "></i></a>
    <a href="/dashboard"><i class="fas fa-user-circle"></i></a>

  </div>
</div>
  </body>

</html>
